<strong>Olá, {{ deliveryman }} </strong>
<p>Houve um cancelamento na entrega, confira os detalhos abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ recipient }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
</p>
